<html>
  <head>
  <style>
      body {
        background: <%= color %>;
      }
    </style>
  </head>
  <body>
    <p><%= message %></p> 
    <p> <%= cheat_message %></p>
    <p>You have <%= count_guesses %> guesses.</p> 
    <form>
  <input type='text' name='guess' />
  <input type='submit' value='Guess!' />
</form>

  </body>
</html>